<nav>
    <div class="dropdown">
        <div class="navbar-btn">Ciphers</div>
        <div class="dropdown-content">
            <a href="/ciphers/caesar.html">Caesar</a>
            <a href="/ciphers/vigenere.html">Vigenere</a>
            <a href="/ciphers/polybius.html">Polybius square</a>
            <a href="/ciphers/zigzag.html">Zig-zag</a>
        </div>
    </div>
    <div class="dropdown">
        <div class="navbar-btn">Codes</div>
        <div class="dropdown-content">
            <a href="/codes/morse.html">Morse</a>
            <a href="/text/numtext.html">Num-Text</a>
        </div>
    </div>
    <div class="dropdown">
        <div class="navbar-btn">Pictures</div></a>
        <div class="dropdown-content">
            <a href="/pictures/exifviewer.html">Exif Viewer</a>
        </div>
    </div>
    <div class="dropdown">
        <div class="navbar-btn">None</div>
        <div class="dropdown-content">
            <a href="XXX">Placeholder</a>
            <a href="XXX">Placeholder</a>
        </div>
    </div>
    <div class="dropdown">
        <div class="navbar-btn">Text</div>
        <div class="dropdown-content right">
            <a href="/text/reverse.html">Reverse</a>
            <a href="/text/numtext.html">Num-Text</a>
        </div>
    </div>
</nav>